{% extends 'base.html' %}

{% block title_block %}
Event
{% endblock %}

{% block body_block %}
<div id="title-div">
    <h1 id="title">Lunchbox</h1>
</div>

<div>
    <h1>Event</h1>
    <div id="event-wrapper">
        <div id="event-title">
            <p>{{ event.name }}</p>
        </div>

        <div id="event-details">
            <h3>Details</h3>
            <p>Time: {{ event.time }}</p>
            <p>Theme: {{ event.theme }}</p>
            <p>Budget: {{ event.budget }}</p>
            <p>Details: {{ event.details }}</p>
        </div>

        <div id="opt-in">
            <h5>Are you participating?</h5>
            {% if options.opt_in %}
                <input type="radio" id="in" name="participation" value="Opt In" checked>
                <label for="in">Opt In</label>
                <input type="radio" id="out" name="participation" value="Opt Out">
                <label for="out">Opt Out</label>
            {% else %}
                <input type="radio" id="in" name="participation" value="Opt In">
                <label for="in">Opt In</label>
                <input type="radio" id="out" name="participation" value="Opt Out" checked>
                <label for="out">Opt Out</label>
            {% endif %}
        </div>

        <div id="opt-theme">
            <h5>Would you like food from the theme?</h5>
            {% if options.theme_opt_in %}
                <input type="radio" id="in-theme" name="participation-theme" value="Opt In" checked>
                <label for="in-theme">Opt In</label>
                <input type="radio" id="out-theme" name="participation-theme" value="Opt Out">
                <label for="out-theme">Opt Out</label>
            {% else %}
                <input type="radio" id="in-theme" name="participation-theme" value="Opt In">
                <label for="in-theme">Opt In</label>
                <input type="radio" id="out-theme" name="participation-theme" value="Opt Out" checked>
                <label for="out-theme">Opt Out</label>
            {% endif %}
        </div>

        <div id="food-purchase">
            Have you bought your food
            Link to nearby restaurants
        </div>

        <div id="buying-for">
            <h4>You are buying for</h4>
        </div>
    </div>
</div>
{% endblock %}