{% extends 'base.html' %}

{% block title_block %}
Login
{% endblock %}

{% block body_block %}
<div class="card text-white bg-secondary my-5 py-4 text-center">
			<div class="card-body">
			<h1 class="font-weight-light">Login</h1>

			<p class="text-white m-0">Welcome back! Please Login!</p>
			<form id="login_form" method="post" action="{%url 'backend_app:login' %}">
				{% csrf_token %}
				
				Username:   <input type="text" name="username" value="" size="50" /><br>
				Password:<input type="password" name="password" value="" size="50" /><br>
				<input type="submit" value="login" />
			</form>
			<p class="text-white m-0">Don't have an account?</p>
			<a class="btn-primary" href="{% url 'backend_app:signUp' %}">Sign Up</a>
</div>
</div>
{% endblock %}