{% extends 'base.html' %}


{% load static %}


{% block title_block %}
Event
{% endblock %}

{% block body_block %}
        <div id="data" style="display: none">
            
            <span id="user">{{profile.id}}</span>
            {% for tag in profile.likes_and_dislikes.all %} 
                <span class="likes">{{tag.name}}</span>
            {% endfor %}
        </div>
        <div id="message" class="text-center">
            <h1>You are selecting a meal for {{profile.user.username}}</h1>
        </div>
        <div id="restaurants" class="row">
            <img id="loading" src="{% static '/img/loading.gif' %}"></img>
            <script src="{% static '/js/restaurantsApiCall.js' %}"></script>
        </div>
{% endblock %}