{% extends 'base.html' %}

{% block title_block %}
Team
{% endblock %}

{% block body_block %}
    <h1><center>Your Team</center></h1>
    <!-- Show the small event block -->
    <div class="row">
        <div class="col">

        <div class="rounded" id="small-event-block">
            <h1>Jimmys Birthday</h1>
        </div>

        <!-- Show the previous events -->
        <div class="rounded" id="small-event-block">
            <h1>Previous Events</h1>
        </div>
        </div>

        <!-- Show the members in the page -->
        {% for m in members %}
            <div class="col" id="small-event-block">
                {{m.user}}
            </div>
        {% empty %}
            <strong id="no-members-msg">Sorry, there are no members in this team yet.</strong>
        {% endfor %}
    </div>
{% endblock %}