body {
    margin: 0;
    background-color: #DA7A7A;
    overflow-x: hidden;
}

canvas {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}


.btn-primary{
    padding:4px;
}

.card-body{
    padding:40px;
    padding-top:0px;
    font-size: 20px;
}

.event-block{
    background-color:#AFE1AF;
    padding:30px;
    text-align: center;
    margin:5px;
}


#food-purchase{
    height:100%;
}

#buying-for{
    height:100%;
}

#form-div{
    background-color:#AFE1AF;
}


#title-div {
    display: block;
    width: 100%;
    font-size: 35px;
    position: absolute;
    
    margin-left: auto;
    margin-right: auto;
    font-family: "Comic Sans MS";
    text-align: center;
}

#logo {
    width:190px;
    height:auto;
}

#main-nav{
    background-color: white;

    margin-bottom:25px;
}

#title {
    color: white;
}


#main-container {
    background-color:#E2DDAA;
    font-size: 100px;
	margin:auto;
    margin-bottom: 60px;
	padding:50px;
	margin-right:60px;
	margin-left:60px;
}

#no-members-msg{
    font-size: 30px;
}

#small-event-block{
    background-color:#AFE1AF;
    padding:50px;
    text-align: center;
    margin:15px;
}

.btn{
    padding: 20px;
    background-color:#AFE1AF;
    margin:auto;
}

#user-icon{
    padding:10px;
    padding-left:50px;
}

#user-hi{
    padding:20px;
}

.fas{
    width:200%;
    height:auto;
    color:#AFE1AF;
}

#event-form {

}









/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.restaurant_thumbnail {
    width: 400px;
    height: 400px;
    object-fit: cover;

}

@media screen and (max-width: 768px) {
    .restaurant_thumbnail {
        width: 200px;
        height: 200px;
        object-fit:cover;
    }
}



