
body {
    margin: 0;
    background-color: #DA7A7A;
}

canvas {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}



#title-div {
    display: block;
    width: 100%;
    font-size: 35px;
    position: absolute;
    
    margin-left: auto;
    margin-right: auto;
    font-family: "Comic Sans MS";
    text-align: center;
}

#logo {
    width:190px;
    height:auto;
}

#main-nav{
    background-color: white;

    margin-bottom:25px;
}

#title {
    color: white;
}


#main-container {
    background-color:#E2DDAA;
    font-size: 100px;
    margin:20px;
    padding:10px;
}

#no-members-msg{
    font-size: 30px;
}



#small-event-block{
    background-color:#AFE1AF;
    padding:20px;
    text-align: center;
    margin:15px;
}




