
body {
    overflow: hidden;
    margin: 0;
    background-color: green;
}

canvas {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

#title-div {
    display: block;
    width: 100%;
    font-size: 35px;
    position: absolute;
    
    margin-left: auto;
    margin-right: auto;
    font-family: "Comic Sans MS";
    text-align: center;
}

#title {
    color: white;
}


.main-container {
    color: brown;
    background-color: green;
    font-size: 100px;
}

